<!DOCTYPE html>
<html>
	<head>
		<title>Budgie - A Budget Analysis App</title>
		<meta charset="UTF-8"/>
		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<!--Import Google Icon Font-->
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    </head>

	<body ng-app="myApp" ng-controller="myCtrl" style="background-color:#0097A7;">
		<div class="container">
			<div class="row">
				<div class="col s12">
					<div class="card">
						<div class="card-content cyan-text text-darken-2">
							Welcome, {{ displayName }}<a href="/logout" class="waves-effect waves-light btn cyan darken-2 right">Log Out</a>
							<ul class="tabs tabs-fixed-width">
								<li class="tab"><a class="active cyan-text text-darken-2" href="#current">Current Budget</a></li>
								<li class="tab"><a class="cyan-text text-darken-2" href="#history">Budget History</a></li>
								<li class="tab"><a class="cyan-text text-darken-2" href="#analysis">Analysis</a></li>
							</ul>
							<div id="current">
								<div class="card" ng-show="!isCurrentBudgetSet">
									<div class="card-content cyan-text center-align text-darken-2">
										<h5>You have no budget for this month. Why not create one?</h5>
										<div style="padding:40px;">
											<h5>Income:</h5>
											<form class="col s10">
												<div class="row">
													<div class="input-field col s5">
														<input id="new_income_item" type="text" ng-model="newIncomeItem" class="validate">
														<label for="new_income-item" class="left-align">Item</label>
													</div>
													<div class="input-field col s3">
														<input id="new_income_value" type="number" ng-model="newIncomeValue" class="validate">
														<label for="new_income_value" class="left-align">Proposed income</label>
													</div>
													<div class="input-field col s3">
														<select ng-model="newIncomeRepeat">
															<option value="" disabled selected>Repeat</option>
															<option value="true">Repeat each month</option>
															<option value="false">Don't repeat</option>
														</select>
														<label>Repeat</label>
													</div>
													<div class="col s1" style="padding-top:20px;">
														<a class="waves-effect waves-light btn cyan darken-2" ng-click="currentBudget.addIncome(newIncomeItem, newIncomeValue, newIncomeRepeat)">Add Income</a>
													</div>
												</div>
											</form>
											<table class="striped responsive">
												<thead>
													<tr>
														<td data-field="income">Source</td>
														<td data-field="proposed">Proposed inflow</td>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="(name, item) in currentBudget.income">
														<td>{{ name }}</td>
														<td>{{ item.proposed }}</td>
													</tr>
												</tbody>
											</table>
										</div>
										<div style="padding:40px;">
											<h5 class="heading">Expense:</h5>
											<form class="col s10">
												<div class="row">
													<div class="input-field col s4">
														<input id="new_expense_item" type="text" ng-model="newExpenseItem" class="validate">
														<label for="new_expense-item" class="left-align">Item</label>
													</div>
													<div class="input-field col s3">
														<input id="new_expense_value" type="number" ng-model="newExpenseValue" class="validate">
														<label for="new_expense_value" class="left-align">Proposed expense</label>
													</div>
													<div class="input-field col s2">
														<select ng-model="newExpenseRepeat">
															<option value="" disabled selected>Repeat</option>
															<option value="true">Repeat each month</option>
															<option value="false">Don't repeat</option>
														</select>
														<label>Repeat</label>
													</div>
													<div class="input-field col s2">
														<select ng-model="newExpensePriority">
															<option value="" disabled selected>Priority</option>
															<option value="High">High</option>
															<option value="Medium">Medium</option>
															<option value="Low">Low</option>
														</select>
														<label>Priority</label>
													</div>
													<div class="col s1" style="padding-top:20px;">
														<a class="waves-effect waves-light btn cyan darken-2" ng-click="currentBudget.addExpense(newExpenseItem, newExpenseValue, newExpenseRepeat, newExpensePriority)">Add Expense</a>
													</div>
												</div>
											</form>
											<table class="striped responsive">
												<thead>
													<tr>
														<td data-field="expense">Item</td>
														<td data-field="proposed">Proposed expenditure</td>
														<td data-field="priority">Priority</td>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="(name, item) in currentBudget.expense">
														<td>{{ name }}</td>
														<td>{{ item.proposed }}</td>
														<td>{{ item.priority }}</td>
													</tr>
												</tbody>
											</table>
										</div>
										<div style="padding:20px;">
											<a class="waves-effect waves-light btn cyan darken-2" ng-click="saveCurrentBudget()">Add Budget</a>
										</div>
									</div>
								</div>
								<div class="card" ng-show="isCurrentBudgetSet">
									<div class="card-content center-align cyan-text text-darken-2">
										<h5 class="heading">Budget for {{ currentBudget.month + " " + currentBudget.year }}</h5>
										<h5 class="heading">Income:</h5>
										<table class="striped responsive">
											<thead>
												<tr>
													<td data-field="income">Source</td>
													<td data-field="proposed">Proposed inflow</td>
													<td data-field="actual">Actual inflow</td>
													<td data-field="variance">Variance</td>
													<td data-field="varcent">Variance percentage</td>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="(name, item) in currentBudget.income">
													<td>{{ name }}</td>
													<td>{{ item.proposed }}</td>
													<td>{{ item.actual || "-" }}</td>
													<td>{{ item.variance || "-" }}</td>
													<td>{{ item.varcent + "%" || "-" }}</td>
												</tr>
											</tbody>
										</table>
										<h5 class="heading">Expense:</h5>
										<table class="striped responsive">
											<thead>
												<tr>
													<td data-field="expense">Item</td>
													<td data-field="proposed">Proposed expenditure</td>
													<td data-field="actual">Actual expenditure</td>
													<td data-field="variance">Variance</td>
													<td data-field="varcent">Variance percentage</td>
													<td data-field="priority">Priority</td>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="(name, item) in currentBudget.expense">
													<td>{{ name }}</td>
													<td>{{ item.proposed }}</td>
													<td>{{ item.actual || "-" }}</td>
													<td>{{ item.variance || "-" }}</td>
													<td>{{ item.varcent + "%" || "-" }}</td>
													<td>{{ item.priority || "-" }}</td>
												</tr>
											</tbody>
										<table>
									</div>
								</div>
							</div>
							<div id="history">
								<ul id="dropdown1" class="dropdown-content">
								  <li><a href="#!">one</a></li>
								  <li><a href="#!">two</a></li>
								  <li class="divider"></li>
								  <li><a href="#!">three</a></li>
								</ul>
								<div class="card" ng-show="true">
									<div class="card-content">
								<!-- <nav>
									<div class="nav-wrapper"> -->
										<ul class="right hide-on-med-and-down">
											<!-- <li ng-repeat="(name, item) in allBudgets"><a class="dropdown-button" href="#!" data-activates="dropdown1">{{name}}</a></li> -->
											<li><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
										</ul>
								<!-- 	</div>
								</nav> -->
									</div>
								</div>
								<div class="card" ng-show="!hasSelectedBudget">
									<div class="card-content center-align cyan-text text-darken-2">
										<h5 class="heading">Budget for {{ selectedBudget.month + " " + selectedBudget.year }}</h5>
										<h5 class="heading">Income:</h5>
										<table class="striped responsive">
											<thead>
												<tr>
													<td data-field="income">Source</td>
													<td data-field="proposed">Proposed inflow</td>
													<td data-field="actual">Actual inflow</td>
													<td data-field="variance">Variance</td>
													<td data-field="varcent">Variance percentage</td>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="(name, item) in selectedBudget.income">
													<td>{{ name }}</td>
													<td>{{ item.proposed }}</td>
													<td>{{ item.actual || "-" }}</td>
													<td>{{ item.variance || "-" }}</td>
													<td>{{ item.varcent + "%" || "-" }}</td>
												</tr>
											</tbody>
										</table>
										<h5 class="heading">Expense:</h5>
										<table class="striped responsive">
											<thead>
												<tr>
													<td data-field="expense">Item</td>
													<td data-field="proposed">Proposed expenditure</td>
													<td data-field="actual">Actual expenditure</td>
													<td data-field="variance">Variance</td>
													<td data-field="varcent">Variance percentage</td>
													<td data-field="priority">Priority</td>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="(name, item) in selectedBudget.expense">
													<td>{{ name }}</td>
													<td>{{ item.proposed }}</td>
													<td>{{ item.actual || "-" }}</td>
													<td>{{ item.variance || "-" }}</td>
													<td>{{ item.varcent + "%" || "-" }}</td>
													<td>{{ item.priority || "-" }}</td>
												</tr>
											</tbody>
										<table>
									</div>
								</div>
							</div>
							<div id="analysis">
								<div class="card">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		<!--Import jQuery before materialize.js-->
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
		<script type="text/javascript" src="../js/materialize.min.js"></script>
		<script src="../js/budget.js"></script>
		<script src="../js/profile.js"></script>
	</body>
</html>